@font-face {
    font-family: "Fira Code";
    src: url(./fira_code.ttf) format(tff);
}

* {
    font-family: "Fira Code";
    justify-content: center;
    align-items: center;
}

:root {
    --background_color: rgb(96, 68, 68);
    --font_color: rgb(231, 223, 223);
    --contrast_gradient: linear-gradient(to right #ff9191, #ff0000);
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--background_color);
    color: var(--font_color);
    display: flex;
}

.test-division {
    justify-content: center;
    align-content: center;
    background-color: aliceblue;
    border-radius: 20%;
}